
/Library/Artifacts
Library/ArtifactDB
/Library/ShaderCache
/Temp
Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@2.0.4/data~/payload.tar.7z
DiscordLog.txt
DiscordLog.txt
DiscordLog.txt
DiscordLog.txt
